@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  position: relative;
  background-color: #ffffff;
  height: 100vh;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 440px;

  .env {
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }

  .base {
    left: 50%;
    transform: translate(-50%);
    bottom: 16px;
    position: absolute;
    height: 199px;
    width: 330px;
    background-color: #8E9169;
    z-index: -1;
    box-shadow: 0px 56px 72px -30px rgba(70, 71, 51, 0.66);
  }

  .top {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -3%) rotateX(181deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 330px;
    height: 150px;
    background-color: #c2c78d;
    top: 80px;
    transform-origin: center bottom;
    cursor: pointer;
  }

  .card {
    left: 50%;
    transform: translate(-50%) rotate(270deg);
    bottom: -32px;
    position: absolute;
    height: 289px;
    width: 214px;
  }
}

.show-hide {
  animation: fadeInAnimation 2s;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Cormorant Infant', 'serif';
  font-style: italic;
  color: rgb(207, 159, 129);
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.my-element-enter {
  opacity: 0;
  transform: scale(0.9);
}
.my-element-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.my-element-exit {
  opacity: 1;
}
.my-element-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.my-node-enter {
  opacity: 0;
  transition: opacity 200ms;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.text-for-clowns {
  display: flex;
  justify-content: center;
  font-family: 'Cormorant Infant', 'serif';
  font-style: italic;
  color: rgb(207, 159, 129);
  opacity: 0;
}
